#sprof-container {
  padding-left: 2rem;
  padding-right: 2rem;

  border: 1px solid black;
  border-radius: 2rem;
}

#sprof-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  margin-bottom: 2rem;
}

.edit-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #1475b9;
}

.sprof-input {
  margin-bottom: 1rem !important;
}
